<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phúc Long Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/logo.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}">


    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <div th:if="${session.taikhoan != null}">
        <!-- Kiểm tra giá trị của trường "quyen" -->
        <th:div th:if="${session.taikhoan.quyen.idQuyen != 5}">
            <!-- Nếu quyen là 1, chèn header -->
            <div th:insert="~{header.html}"></div>
        </th:div>
        <th:div th:if="${session.taikhoan.quyen.idQuyen == 5}">
            <!-- Nếu quyen khác 1, chèn headerKhachHang -->
            <div th:insert="~{headerKhachHang.html}"></div>
        </th:div>
    </div>
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Danh mục</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" th:href="@{http://localhost:8080/sanpham/list}">
                            Sản phẩm
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" th:href="@{http://localhost:8080/sanpham/list}">Danh sách</a></li>
                            <li><a class="text-decoration-none" th:href="@{http://localhost:8080/size/list}">Size</a></li>
                            <li><a class="text-decoration-none" th:href="@{http://localhost:8080/loaisanpham/list}">Loại</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                        <form id="createSizeForm" th:action="@{http://localhost:8080/sanpham/addNguyenLieu(id=${idct})}" th:object="${congThuc}" method="post" enctype="multipart/form-data">
                            <!-- Thêm các trường và nút submit của form đăng ký -->
                            
                                <!-- <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">ID</label>
                                    <input type="text"  class="form-control mt-1" required th:field="${congThuc.idCongThuc}"  readonly>
                                </div> -->
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Tên sản phẩm</label>
                                    <input type="text"  class="form-control mt-1" required th:field="${congThuc.ctSanPhamSize.sanPham.tenSanPham}"  readonly>
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Size</label>
                                    <input type="text"  class="form-control mt-1" required th:field="${congThuc.ctSanPhamSize.size.tenSize}"  readonly>
                                </div>
                                <input type = "hidden" required th:field="${congThuc.ctSanPhamSize.idSanPhamSize}"/>
                                <input type = "hidden" required th:field="${congThuc.ctSanPhamSize.size.idSize}"/>
                                <input type = "hidden" required th:field="${congThuc.ctSanPhamSize.sanPham.idSanPham}"/>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Nguyên liệu</label>
                                    <select th:field="*{nguyenLieu.idNguyenLieu}" class="form-control mt-1">
                                        <option th:each="option: ${nguyenLieuList}" 
                                        th:value="${option.idNguyenLieu}" th:text="${option.tenNguyenLieu}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Số lượng</label>
                                    <input type="number" min="0" step="0.1"  class="form-control mt-1" name="soLuong" required th:field="*{soLuong}">
                                </div>

                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Đơn vị</label>
                                    <input type="text"  class="form-control mt-1" placeholder="Đơn vị" name="donVi" required th:field="*{donVi}" maxlength="10">
                                </div>

                                <div th:switch ="${btnStatus}" class="mb-3">
                                    <button type="submit" th:name="btnStatus" th:value ="btnAdd" class="btn btn-success">Thêm</button>
                                </div>
                                <button class="btn btn-success"><a th:href="@{http://localhost:8080/sanpham/addNguyenLieu(id=${idct})}">Tải lại trang</a></button>
                                <button class="btn btn-success"><a th:href="@{http://localhost:8080/sanpham/detail(id=${congThuc.ctSanPhamSize.sanPham.idSanPham})}">Về trang trước</a></button>
                                <div th:if="${message}" class="input__item" th:text="${message}" style="color:red;"></div>
                        </form>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nguyên liệu</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="congThuc: ${list}">
                                <th scope="row"><span th:text="${congThuc.idCongThuc}"></span></th>
                                <td><span th:text="${congThuc.nguyenLieu.tenNguyenLieu}"></span></td>
                                <td><span th:text="${congThuc.soLuong}"></span></td>
                                <td><span th:text="${congThuc.donVi}"></span></td>
                                <td >
                                    <a th:href="@{http://localhost:8080/sanpham/addNguyenLieu/xoa(id=${idct},idCongThuc=${congThuc.idCongThuc})}">
                                        <i class="fa fa-cog fa-lg" style="color: rgb(248, 12, 12);">Xóa</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <div th:insert="~{footer.html}"></div>

    <!-- Start Script -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/templatemo.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <!-- End Script -->
</body>

</html>