<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phúc Long Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/logo.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}">


    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <div th:if="${session.taikhoan != null}">
        <!-- Kiểm tra giá trị của trường "quyen" -->
        <th:div th:if="${session.taikhoan.quyen.idQuyen != 5}">
            <!-- Nếu quyen là 1, chèn header -->
            <div th:insert="~{header.html}"></div>
        </th:div>
        <th:div th:if="${session.taikhoan.quyen.idQuyen == 5}">
            <!-- Nếu quyen khác 1, chèn headerKhachHang -->
            <div th:insert="~{headerKhachHang.html}"></div>
        </th:div>
    </div>


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Danh mục</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" th:href="@{http://localhost:8080/sanpham/list}">
                            Nguyên liệu
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" th:href="@{http://localhost:8080/nguyenlieu/list}">Danh sách</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                        <form id="createSizeForm" th:action="@{update}" th:object="${nguyenLieu}" method="post" enctype="multipart/form-data">
                            <!-- Thêm các trường và nút submit của form đăng ký -->
                            
                                <div th:if ="${btnStatus=='btnEdit'}" class="form-group col-md-6 mb-3">
                                    <label for="inputname">ID</label>
                                    <input type="text"  class="form-control mt-1" name="idNguyenLieu" required th:field="${nguyenLieu.idNguyenLieu}"  readonly>
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Tên nguyên liệu</label>
                                    <input type="text"  class="form-control mt-1" placeholder="Tên nguyên liệu" name="tenNguyenLieu" required th:field="*{tenNguyenLieu}" maxlength="50">
                                </div>

                                <div>
                                    <label for="inputname">Upload Image</label>
                                    <!-- <img id="selectedImage" th:src="@{/img/user/default.jpg}" alt="Selected Image" style="max-width: 300px; display: block;"> -->
                                    <input type="file" name="imageInput" id="imageInput" accept="image/*">
                                </div>

                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Số lượng</label>
                                    <input type="number" min="0" step="0.1"  class="form-control mt-1" name="soLuong" required th:field="*{soLuong}">
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputname">Đơn vị</label>
                                    <input type="text"  class="form-control mt-1" placeholder="Đơn vị" name="donVi" required th:field="*{donVi}" maxlength="30">
                                </div>
                                <div th:switch ="${btnStatus}" class="mb-3">
                                    <button type="submit" th:name="btnStatus" th:value ="btnAdd" th:case="'btnAdd'" class="btn btn-success">Thêm</button>
                                    <button type="submit" th:name="btnStatus" th:value ="btnEdit" th:case="'btnEdit'" class="btn btn-success">Sửa</button>
                                </div>
                                <button onclick="location.href='list'" type="button" class="btn btn-success">Tải Lại Trang</button>
                                <div th:if="${message}" class="input__item" th:text="${message}" style="color:red;"></div>
                        </form>
                </div>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tên nguyên liệu</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Số lượng tồn</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="nguyenLieu : ${list}">
                                <th scope="row"><span th:text="${nguyenLieu.idNguyenLieu}"></span></th>
                                <td><span th:text="${nguyenLieu.tenNguyenLieu}"></span></td>
                                <td><span th:text="${nguyenLieu.hinhAnh}"></span></td>
                                <td><span th:text="${nguyenLieu.soLuong}"></span></td>
                                <td><span th:text="${nguyenLieu.donVi}"></span></td>
                                <td >
                                    <a th:href="@{edit(id=${nguyenLieu.idNguyenLieu})}">
                                        <i class="fa fa-cog fa-lg" style="color: rgb(238, 235, 36);">Sửa</i>
                                    </a>
                                    <a th:href="@{delete(id=${nguyenLieu.idNguyenLieu})}" >
                                        <i class="fa fa-cog fa-lg" style="color: rgb(237, 12, 12);">Xóa</i>
                                    </a>
                                    <!-- Thêm modal xác nhận xóa -->
                                    <!-- <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bạn có chắc chắn muốn xóa?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <a th:href="@{delete(id=${nguyenLieu.idNguyenLieu})}" id="confirmDelete" class="btn btn-danger">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        $(document).ready(function(){
                                            // Lắng nghe sự kiện khi người dùng nhấn OK trong modal xác nhận xóa
                                            $("#confirmDelete").click(function(){
                                                // Gửi yêu cầu xóa đến controller
                                                window.location.href = $(".delete-link").attr("href");
                                            });
                                        });
                                    </script> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <div th:insert="~{footer.html}"></div>

    <!-- Start Script -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/templatemo.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <!-- End Script -->
</body>

</html>