<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phúc Long Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/logo.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

</head>

<body>
<div th:insert="~{header.html}"></div>
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<!-- Start Content Page -->
<main><form method="post" th:action="@{/danhSachTaiKhoan}" enctype="multipart/form-data">
    <section class="bg-light">
        <div class="container pd-5">
            <div class="card">
                <div class="card-body">
                    <div class="container py-5">
                <h2>Danh Sách Tài Khoản Khách Hàng</h2>

                <p>   </p>
                <form class="employee-list" action="staff/danhsachnhanvien.htm" method="POST">
                    <table class="table table-light table-striped table-hover bordered-dark"
                           style="text-align: center;">
                        <thead>
                        <tr>

                            <th>Tên Đăng Nhập</th>
                            <th>Mật Khẩu</th>
                            <th style="width: 40px;"></th>
                            <th>Email</th>
                            <th>Quyền</th>

                            <th>Trạng thái tài khoản</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="taiKhoan : ${taiKhoanList}">

                            <td th:text="${taiKhoan.tenDangNhap}"></td>
                            <td>********</td>
                            <td>
                                <a th:href="@{'resetMatKhau?username=' + ${taiKhoan.tenDangNhap}}"
                                   onclick="return confirm('Bạn có chắc chắn muốn reset mật khẩu không?')">
                                    <i class="fa fa-retweet" style="color: black" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td th:text="${taiKhoan.khachHang.email}"></td>
                            <td th:text="${taiKhoan.quyen.chucVu}"></td>
                            <td>
                                <div th:if="${taiKhoan.trangThai == 1}">

                                    <a th:href="@{'thaydoitrangthai?tenDN=' + ${taiKhoan.tenDangNhap}}"
                                       onclick="return confirm('Bạn có chắc chắn muốn khóa tài khoản không?')">
                                        <i class="fa fa-toggle-on" style="color: black" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div th:if="${taiKhoan.trangThai == 0}">

                                    <a th:href="@{'thaydoitrangthai?tenDN=' + ${taiKhoan.tenDangNhap}}"
                                       onclick="return confirm('Bạn có chắc chắn muốn mở tài khoản không?')">
                                        <i class="fa fa-toggle-off" style="color: black" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </form>
            </div>
                </div>
            </div>
        </div>
    </section>
</form>
</main>


<div th:insert="~{footer.html}"></div>

<!-- Start Script -->
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
<!-- End Script -->
</body>

</html>