<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phúc Long Online - Danh sách đơn đặt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/logo.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>

<!-- Close Top Nav -->

<div th:insert="~{header.html}"></div>



<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-2">
            <h1 class="h2 pb-4">Danh mục</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý nhập hàng
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/nguyen-lieu">Tạo đơn hàng</a></li>
                        <li><a class="text-decoration-none" href="http://localhost:8080/don-phieu-nhap">Lập phiếu nhập</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý giá
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/ds-nha-cung-cap">Giá nguyên liệu</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2 pb-4">
                    <div class="d-flex" id="div-next">

                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table" id ="test">
                    <thead class="justify-content-center">
                    <tr>
                        <th scope="col" class="col-2 text-center align-middle">ID đơn</th>
                        <th scope="col" class="text-center align-middle">Ngày đặt</th>
                        <th scope="col" class="col-4 text-center align-middle">Tạo phiếu nhập</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="don:${dons}" th:class="${don.getCheck() == 0 ? 'table-success' : 'table-warning'}">
                        <th scope="row" class="text-center align-middle" th:text="${don.getDonDatNguyenLieu().getIdDonDatNguyenLieu()}">
                        </th>
                        <td class="text-center align-middle" th:text="${don.getNgayDat()}"></td>
                        <td class="text-center align-middle">
                            <a class="taoPhieuNhap" th:href="'http://localhost:8080/phieu-nhap?idDon='+${don.getDonDatNguyenLieu().getIdDonDatNguyenLieu()}+'&ngay='+${don.getNgayDat()}"
                               th:style="${don.getCheck() == 0? 'display:none;':''}" >
                                <i class="fa fa-plus fa-lg" style="color: black;"></i>
                            </a>
                            <i class="fa fa-check fa-lg" th:style="${don.getCheck() == 0? '':'display:none;'}+ 'color: black;'"></i>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<!-- End Content -->

<div th:insert="~{footer.html}"></div>
<!-- Start Script -->

<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- End Script -->
</body>

</html>