<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
<div th:insert="~{header.html}"></div>



<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-2">
            <h1 class="h2 pb-4">Danh mục</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý nhập hàng
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/nguyen-lieu">Tạo đơn hàng</a></li>
                        <li><a class="text-decoration-none" href="http://localhost:8080/don-phieu-nhap">Lập phiếu nhập</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý giá
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/ds-nha-cung-cap">Giá nguyên liệu</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-10">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <h5></h5>
                        </li>
                        <li class="list-inline-item">

                        </li>

                    </ul>
                </div>
                <div class="col-md-2 pb-4">

                </div>
            </div>
            <div class="row">
                <table class="table" id ="test">
                    <thead class="justify-content-center">
                    <tr>
                        <th scope="col" class="col-2 text-center align-middle">Mã</th>
                        <th scope="col" class="text-center align-middle">Tên</th>
                        <th scope="col" class="col-3 text-center align-middle">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="ncc:${listNCC}" >
                        <th scope="row" class="text-center align-middle"th:text="${ncc.getMaNhaCungCap()}">


                        </th>
                        <td class="align-middle" th:text="${ncc.getTenNhaCungCap()}"></td>

                        <td class="text-center align-middle">
                            <a th:href="'http://localhost:8080/nha-cung-cap?maNCC='+${ncc.getMaNhaCungCap()}"> Chi tiết</a>
                        </td>

                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2 pb-4">

                </div>
            </div>
        </div>


    </div>
</div>
<!-- End Content -->

<div th:insert="~{footer.html}"></div>
<!-- End Footer -->

<!-- Start Script -->
<script th:src="@{/js/datnguyenlieu.js}"></script>
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- End Script -->
</body>

</html>