<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="home">
            <img class="img-fluid" th:src="@{/img/logo.png}" alt="">
        </a>


        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/san-pham/tat-ca}">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lich-su-don-hang}">Lịch sử đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <!-- Nút kích hoạt dropdown (thẻ link) -->
                            <a href="#" class="dropdown-button">Đơn hàng</a>
                            <!-- Nội dung dropdown với các mục -->
                            <div class="dropdown-content">
                                <a th:href="@{/don-hang/chua-xac-nhan}">Chưa xác nhận</a>
                                <a th:href="@{/don-hang/da-xac-nhan}">Đã xác nhận</a>
                                <a th:href="@{/don-hang/da-hoan-thanh}">Đã hoàn thành</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" th:href="@{/gio-hang}">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1" ></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" id="soLuongSPTrongGioHang">0</span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <input type="hidden" id="tenDangNhap" th:value="${session.taikhoan != null ? session.taikhoan.tenDangNhap : null}" />
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" ></span>
                </a>
            </div>
        </div>

    </div>
</nav>