<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="home">
            <img class="img-fluid" th:src="@{/img/logo.png}" alt="">
        </a>


        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/san-pham/tat-ca}">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lich-su-don-hang}">Lịch sử đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <!-- Nút kích hoạt dropdown (thẻ link) -->
                            <a href="#" class="dropdown-button">Đơn hàng</a>
                            <!-- Nội dung dropdown với các mục -->
                            <div class="dropdown-content">
                                <a th:href="@{/don-hang/chua-xac-nhan}">Chưa xác nhận</a>
                                <a th:href="@{/don-hang/da-xac-nhan}">Đã xác nhận</a>
                                <a th:href="@{/don-hang/da-hoan-thanh}">Đã hoàn thành</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/gio-hang}">Giỏ hàng</a>
                    </li>

                </ul>
            </div>

            <th:div th:if="${session.taikhoan != null}">
                <!-- Nếu quyen là 1, chèn header -->
                <div class="dropdown">
                    <a class=" dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                        role="button">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Thông tin</a></li>
                        <li><a class="dropdown-item" href="/forgot">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" role="button" id="logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </th:div>
            <th:div th:if="${session.taikhoan == null}">
                <div><a class="nav-icon position-relative text-decoration-none " data-bs-toggle="modal" data-bs-target="#loginModal" href="#" role="button">Đăng nhập</a></div>
                </th:div>
        </div>
    </div>

    </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <!-- Tạo một khối dialog -->
    <div class="modal-dialog">
        <!-- Tạo một khối content -->
        <div class="modal-content">
            <!-- Tạo phần header -->
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Tạo phần body -->
            <form id="loginForm">
                <div class="modal-body">
                    <!-- Tạo một form để nhập thông tin đăng nhập -->

                    <div class="mb-3">
                        <input type="username" class="form-control" id="username" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div id="notification"></div>
                </div>
                <!-- Tạo phần footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="loginButton">Đăng nhập</button>
                    <button type="button" class="btn btn-link" id="forgot">Quên mật khẩu?</button>
                    <button type="button" class="btn btn-link" id="signup">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>