<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phúc Long Online - Nhà cung cấp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/logo.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <!--

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
<div th:insert="~{header.html}"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="'Thêm sản phẩm cho NCC: '+ ${listNL.get(0).getNhaCungCap().getTenNhaCungCap()}"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="@{/them-nl}" enctype="multipart/form-data">
            <div class="modal-body">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h6>Nguyên liệu: </h6>
                    </li>
                    <li class="list-inline-item">
                        <input type="text" name="maNCC" th:value="${listNL.get(0).getNhaCungCap().getMaNhaCungCap()}" style="display:none;"/>
                        <select name="idNL" style="width:100px;">
                            <option th:each="c:${listNL1}"
                                    th:value="${c.getIdNguyenLieu()}"
                                    th:text="${c.getTenNguyenLieu()}+' - '+ ${c.getIdNguyenLieu()}"
                            >
                            </option>
                        </select>
                    </li>
                </ul>

                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h6>Ngày:      </h6>
                    </li>
                    <li class="list-inline-item">
                        <input type="date" name="ngay" style="margin-left: 45px;"/>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h6>Giá:      </h6>
                    </li>
                    <li class="list-inline-item">
                        <input type="number" name="gia" min="0" style="margin-left: 58px;">
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-2">
            <h1 class="h2 pb-4">Danh mục</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý nhập hàng
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/nguyen-lieu">Tạo đơn hàng</a></li>
                        <li><a class="text-decoration-none" href="http://localhost:8080/don-phieu-nhap">Lập phiếu nhập</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quản lý giá
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="http://localhost:8080/ds-nha-cung-cap">Giá nguyên liệu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-10">
                    <h4 th:text="'Danh sách nguyên liệu của nhà cung cấp '+${listNL.get(0).getNhaCungCap().getTenNhaCungCap()}"></h4>
                </div>
                <div class="col-md-2 pb-4">
                    <div class="d-flex" >
                        <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" th:style="${listNL1.size()==0?'display:none;':''}">Thêm mới</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table" id ="test">
                    <thead class="justify-content-center">
                    <tr>
                        <th scope="col" class="col-2 text-center align-middle">Hình ảnh</th>
                        <th scope="col" class="text-center align-middle">Tên</th>
                        <th scope="col" class="col-3 text-center align-middle">Giá</th>
                        <th scope="col" class="col-2 text-center align-middle">Ngày áp dụng</th>
                        <th scope="col" class="col-2 text-center align-middle">Thay đổi</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="nl:${listNL}" >
                        <th scope="row" class="text-center align-middle">
                            <a href="#">
                                <img th:src="'../img/'+${nl.getNguyenLieu().getHinhAnh()}" class="card-img-top" alt="..." style="height: 70px;
                                    width: 70px;
                                    border-radius:50%;">
                            </a>
                        </th>
                        <td class="align-middle" th:text="${nl.getNguyenLieu().getTenNguyenLieu()}"></td>
                        <td class="text-center align-middle" th:text="${nl.getGia1()}"></td>
                        <td class="text-center align-middle" th:text="${nl.getNgay1()}"></td>
                        <td class="text-center align-middle">
                            <a th:href="'http://localhost:8080/ct-nha-cung-cap?maNCC='+${nl.getNhaCungCap().getMaNhaCungCap()}+'&idNL='+${nl.getNguyenLieu().getIdNguyenLieu()}">
                                <i class="fa fa-pen fa-lg" style="color: black;"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<!-- End Content -->

<!-- Start Brands -->
<div th:insert="~{footer.html}"></div>

<!-- Start Script -->

<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- End Script -->
</body>

</html>